{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
	
                <div class="card-body py-5">
					<h4 class="text-center">Please select PayPal or Card to do the transaction</h4>
                    <article class="accordion" id="accordion_pay">
                        <div class="card">
                            <header class="card-header">
                                <img src="{% static "./images/misc/payment-paypal.png" %}" class="float-right" height="24"> 
                                <label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
                                    <input class="form-check-input" name="payment-option" checked type="radio" value="option2">
                                    <h6 class="form-check-label"> 
                                        Paypal 
                                    </h6>
                                </label>
                            </header>
                            <div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
                                <div class="card-body">
                                    <p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
                                    <p class="text-center">
                                        <a href="https://www.paypal.com/webapps/shoppingcart/error?flowlogging_id=05a3337680a54&code=BAD_INPUT_ERROR"><img src="{% static "./images/misc/btn-paypal.png" %}" height="32"></a>
                                        <br><br>
                                    </p>
                                </div> <!-- card body .// -->
                            </div> <!-- collapse .// -->
                        </div> <!-- card.// -->
                        <div class="card">
                            <header class="card-header">
                                <img src="{% static "./images/misc/payment-card.png" %}" class="float-right" height="24">  
                                <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
                                    <input class="form-check-input" name="payment-option" type="radio" value="option2">
                                    <h6 class="form-check-label"> Credit Card  </h6>
                                </label>
                            </header>
                            <div id="pay_payme" class="collapse" data-parent="#accordion_pay">
                                <div class="card-body">
                                    <p class="alert alert-success">Some information or instruction</p>
                                    <form class="form-inline">
                                        <input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
                                        <input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
                                        <input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
                                        <button class="btn btn btn-success">Button</button>
                                    </form>
                                </div> <!-- card body .// -->
                            </div> <!-- collapse .// -->
                        </div> <!-- card.// -->
                    </article> 
                </div> <!-- card-body .// -->
            </div> <!-- card .// -->
        </div> <!-- col-md-8 .// -->
    </div> <!-- row.// -->
	<div class="padding-top">
		<div style="text-align: center;">
			<h6>After successful payment, Please click on the 'Transaction Status' button.</h6>
			<a href="{% url "paymentsuccess" %}" class="btn btn-info">Transaction Status</a>
		</div>
	</div>
</div> <!-- container.// -->

{% endblock content %}
